<!-- Todo/templates/Todo/todo_list.html -->
{% extends 'base.html' %}

{% block content %}
<div class="row mb-3">
    <div class="col">
        <a href="{% url 'todo_create' %}" class="btn btn-success">Add New Todo</a>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="list-group">
            {% for todo in todos %}
            <div class="list-group-item mb-4 rounded {% if todo.completed %}list-group-item-success{% endif %}">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ todo.title }}</h5>
                    <small>{{ todo.created_at|date:"M d, Y" }}</small>
                </div>
                <p class="mb-1">{{ todo.description }}</p>
                <div class="mt-2 ">
                    <a href="{% url 'todo_update' todo.pk %}" class="btn btn-sm btn-outline-secondary">Edit</a>
                    <a href="{% url 'todo_delete' todo.pk %}" class="btn btn-sm btn-outline-danger">Delete</a>  
                </div>
            </div>
            {% empty %}
            <div class="list-group-item">
                <p class="mb-1">No todos yet. Add your first todo!</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}